<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>

<script type="text/javascript" src="/js/admin.js"></script>

<link rel="stylesheet" type="text/css" href="/css/admin.css">


</head>



<body>
<div ng-app="UserManagement">

<h1>Admin Dashboard</h1>

<div ng-controller="EmployeeController">
	<h2>Employee Management</h2>
	 <form ng-submit="submitEmployee()">
		<table>

			<tr>
				<th colspan="2">Add/Edit Employee</th>
			</tr>
			<tr>
				<td>Employee Name</td>
				<td><input type="text" ng-model="employeeForm.empFirstName" /></td>
			</tr>
			<tr>
				<td>Email</td>
				<td><input type="text" ng-model="employeeForm.empEmail" /></td>
			</tr>
			<tr>
				<td colspan="2"><input type="submit" value="Submit"
					class="blue-button" /></td>
			</tr>
		</table>
	</form> 
	<table>
		<tr>
 
			<th>Employee Name</th>
			<th>Email</th>
			<th>Operations</th>
 
		</tr>
 
		<tr ng-repeat="employee in employees">
 
			<td>{{ employee.empFirstName }}</td>
			<td>{{ employee.empEmail }}</td>
 
			<td> <a ng-click="editEmployee(employee)" class="blue-button">Edit</a>
				| <a ng-click="deleteEmployee(employee)" class="red-button">Delete</a> </td>
		</tr>
 
	</table>
</div>



<div  ng-controller="CustomerController">
	<h2>Customer Management</h2>
	 <form ng-submit="submitCustomer()">
		<table>

			<tr>
				<th colspan="2">Add/Edit Customer</th>
			</tr>
			<tr>
				<td>Customer Name</td>
				<td><input type="text" ng-model="customerForm.custFirstName" /></td>
			</tr>
			<tr>
				<td>Email</td>
				<td><input type="text" ng-model="customerForm.custEmail" /></td>
			</tr>
			<tr>
				<td colspan="2"><input type="submit" value="Submit"
					class="blue-button" /></td>
			</tr>
		</table>
	</form> 
	<table>
		<tr>
 
			<th>Customer Name</th>
			<th>Email</th>
			<th>Operations</th>
 
		</tr>
 
		<tr ng-repeat="customer in customers">
 
			<td>{{ customer.custFirstName }}</td>
			<td>{{ customer.custEmail }}</td>
 
			<td> <a ng-click="editCustomer(customer)" class="blue-button">Edit</a>
				| <a ng-click="deleteCustomer(customer)" class="red-button">Delete</a> </td>
		</tr>
 
	</table>
</div>
	
	</div>
	</body>


</html>